.header {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #EFEEF3;
}
.header-logo {
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.header-logo-image {
    width: 50px;
    height: 50px;

}
.header-logo-span {
    
    
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 35px;
/* identical to box height, or 100% */


/* 6 */
margin-left: 10px;
color: #16133D;
}
.uppertext {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* or 131% */


/* 7 */

color: #7690A8;
}
.title {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 52px;
/* or 130% */

letter-spacing: 0.2px;

/* 6 */

color: #16133D;
}
.section-uppertext {
    display: flex;
    margin: 100px 0 15px 140px;
}
.section-title {
    display: flex;
    margin-left: 140px;
    margin-bottom: 40px;
}
.section-div-cards {
    display: flex;
}
.section-div__design {
    width: 370px;
    height: 340px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
    margin-left: 140px;
    margin-right: 30px;
    
}
.section-div__ecommerce {
    width: 370px;
    height: 340px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
    margin-right: 30px;

}
.section-div__application {
    width: 370px;
    height: 340px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
    
}
.image-div {
margin-top: 41px;

}
.card-title-div {
    font-family: 'Roboto';
    font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 21px;
/* or 89% */

letter-spacing: 0.2px;

/* 6 */

color: #16133D;

    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 15px;
}
.card-text-div {

    font-family: 'Roboto';
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    
    /* text */
    
    color: #16133D;
   
    margin-left: 40px;
    margin-right: 55px;
    
}
.card-link-div {
margin-top: 30px;
margin-left: 40px;
margin-bottom: 40px;
}
.card-link {
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #3DB370;
text-decoration: none;
}
.footer {
    height: 190px;
    background-color:#16133D;
 
    margin-top: 100px;
    padding-top: 40px;
    padding-left: 140px;
}
.footer-logo {
    display: flex;
   
}
.footer-logo-div {
    margin-top: 2px;
}

.footer-logo-span {
    font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 35px;
/* identical to box height, or 100% */
margin-left: 5px;

color: #FFFFFF;
display: inline-block;

}

.svg {
    margin-top: 40px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.svg:hover {
 fill: #3DB370;
 cursor: pointer;
}
.section-div__design:hover {
    border: #3DB370 1px solid;

}
.image-back-design {
    opacity: 0;
}
.section-div__design:hover .image-back-design {
    opacity: 1;

    margin-bottom: 15px;
margin-left: 57px;
  }
.section-div__design:hover .image {
  opacity: 0;
}


.section-div__ecommerce:hover {
    border: #3DB370 1px solid;
}
.image-back-ecommerce {
    opacity: 0;
}
.section-div__ecommerce:hover .image-back-ecommerce {
    opacity: 1;

    margin-bottom: 14px;
margin-left: 56px;
  }
.section-div__ecommerce:hover .image {
  opacity: 0;
}


.section-div__application:hover {
    border: #3DB370 1px solid;

}
.image-back-application {
    opacity: 0;
}

.section-div__application:hover .image-back-application {
    opacity: 1;

    margin-bottom: 14px;
margin-left: 49px;
  }
.section-div__application:hover .image {
  opacity: 0;
}


